@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-clr: #ffd9da;
  --secondary-clr: #dd2d4a;
  --third-clr: #880d1e;
  --fourth-color: #fff;
}

body {
  background-color: var(--primary-clr);
  font-family: 'roboto', serif; 
  height: 100vh;
}

main {
  padding: 3em 2em;
}

.header {
  max-width: 500px; 
  margin: 0 auto;
  text-align: center; 
}

.header h1 {
  font-size: 1.8rem; 
  font-weight: bold; 
  color: var(--secondary-clr)
}

.header span {
  color: var(--third-clr)
}

.header p {
  color: var(--secondary-clr);
  font-style: italic;
  margin-block: 1em;
}



form {
  max-width: 500px;
  background-color: var(--fourth-color);
  margin: 0 auto;
  padding: 1em 1em 3em 1em;
  border-radius: 10px;
}


fieldset {
  border: none;
  margin-block: 2em;
}

label {
  color: var(--secondary-clr);
  display: block;
}

.label-title {
  color: var(--third-clr);
  font-weight: bold;
  margin: 1em 0;
}

input,
select,
textarea {
  width: 100%;
  min-height: 2em;
  border: 1px solid var(--secondary-clr);
  border-radius: 10px;
  padding: 0.2em 0.5em;
}

input[type="checkbox"],
input[type="radio"] {
  width: unset;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 80%;
  color: var(--third-clr);
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid var(--third-clr);
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: .75;
}



@media (min-width: 900px) {
  .header {
    max-width: 700px;
  }

  form {
    max-width: 700px; 
  }

  html {
    font-size: 20px;
  }
}



